html {

}
body {

}
.tester {
    border: 2px solid black;
}
.block1 {
    height: 100px;
}
.block2 {
    height: 200px;
}
.block3 {
    height: 300px;
}
.block4 {
    height: 400px;
}
.block5 {
    height: 500px;
}
.block6 {
    height: 600px;
}